.task-list
    width: 95%
    min-height: 90vh
    overflow-y: auto
    margin-top: 1%
    box-shadow: 0 0 10px 0
    background-color: #2a2d41
    border-radius: 0.4rem
    margin-bottom: 1%

    .task
        margin: 30px auto
        width: 90%
        margin-top: 1.8%
        margin-bottom: 1.8%
        height: 70px
        background-color: #fff
        box-shadow: 0 0 10px 0
        border-radius: 0.5rem
